<!DOCTYPE html>
<app-admin-nav></app-admin-nav>
<html lang="en">

<body>

    <div class="contenedor1">
        <div class="titulo">
            <h1>Producto nuevo</h1>

        </div>
    </div>

    <div class="contenedor2">
        <form >

            <div>
                <label for="">Nombre</label>
                <input type="text">
            </div>

            <div>
                <label for="">Costo</label>
                <input type="text">
            </div>

            <div>
                <label for="">Precio de venta</label>
                <input type="text">
            </div>

            <div>
                <label for="">Existencia</label>
                <input type="text">
            
            </div>
        <div class="b1">
        <button class="btn btn-outline-none btn-lg btn-danger" type="submit">Agregar</button>
        </div> 
    </form>
    </div>
</body>