.mapa{
    height: 350px;
    width: 100%;
    padding: 0em;
    border-radius: 8px;
}

.fondo-tarjeta{
 background-color: #2b3035;
 padding-top: 15px;
}

.margen-tarjetas{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.borde{
    padding: 10px;
    height: 150px;
}

.padfooter{
    padding-top: 20px;
}