<footer class="text-center text-white fondo">

	<div class="container">
		<div class="row">

			<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 margen-tarjetas">

				<div class="card col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 fondo-tarjeta">
					<h5 class="card-header">Contacto</h5>
					<div class="card-body">
						<h5 class="card-title">Teléfono</h5>
						<p class="card-text">+52 982 106 2269</p>
					</div>
					<h5 class="card-header">Síguenos</h5>
					<div class="card-body ">
						<!-- Grid container -->
						<div class="container p-4 pb-0">
							<!-- Section: Social media -->
							<section class="mb-4">
								<!-- Facebook -->
								<a class="btn btn-outline-light btn-floating m-1"
									href="https://www.facebook.com/taekwondotorosescarcega" role="button"><i
										class="fab fa-facebook-f"></i></a>
								<!-- Instagram -->
								<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
										class="fab fa-instagram"></i></a>
								<!-- TikTok -->
								<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
										class="fab fa-tiktok"></i></a>
								<!-- WhatsApp -->
								<a class="btn btn-outline-light btn-floating m-1"
									href="https://api.whatsapp.com/send?phone=529821062269" role="button"><i
										class="fab fa-whatsapp"></i></a>
							</section>
							<!-- Section: Social media -->
						</div>
						<!-- Grid container -->
					</div>
				</div>

				<div class="card col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 fondo-tarjeta">


					<h5 class="card-header">Ubicación en el mapa</h5>
					<div class="card-body">
						<iframe class="mapa"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.039465811465!2d-90.73150363848838!3d18.60902398266064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDM2JzMyLjUiTiA5MMKwNDMnNTEuNiJX!5e0!3m2!1ses!2smx!4v1609189570378!5m2!1ses!2smx"></iframe>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.6);">
		© 2021 Copyright:
		<a class="text-white" href="https://www.facebook.com/taekwondotorosescarcega">Taekwondo Toros Escárcega</a>
	</div>
	<!-- Copyright -->
</footer>