.mapa{
    height: 350px;
    width: 90%;
    padding: 1.5em;
    border-radius: 30px;
}

.fondo-tarjeta{
    background-color: lightslategrey;
}

.margen-tarjetas{
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.borde{
    padding: 10pxem;
    height: 150px;
}
