<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand fuenteGoogle Blanco" href="">
        <img src="../assets/img/TorosLogo.jpeg" class="rounded-circle chico" alt="">
        Toros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item active Blanco">
                <a class="nav-link Blanco" href="">Inicio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link Blanco" href="Login">Administración</a>
            </li>
            <!--
					<form #CerrandoData="ngForm" (ngSubmit)="saliendo(CerrandoData)">
						<li *ngIf="sesion == 1" class="nav-item">

							<button class="btn btn-dark">Cerrar Sesion</button>

						</li>
					</form> -->



        </ul>

    </div>
</nav>