<div class="main-section fondo-degradado">
    <div class="modal-dialog text-center borde-contenedor">
        <div class="col-sm-g">
            <div class="modal-content transparencia borde-modal">
                <div class="col-12 user-img">
                    <img src="assets/img/logoTaekwondo.png" class="rounded-circle" alt="" />
                </div>

                <form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="POST" name="login">
                    <div class="form-group col-12 borde-formulario " >
                        <i class="fas fa-user fa-lg"></i>
                        <input type="text" name="usuario" class="form-control text-center" placeholder="Usuario">
                    </div>
                    <div class="form-group col-12 borde-formulario">
                        <i class="fas fa-key fa-lg"></i>
                        <input type="password" name="password" class="form-control text-center" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" onclick="login.submit()">
                            <i class="fas fa-sign-in-alt"></i>  Iniciar Sesión
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>