<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="/assets/img/TorosLogo.jpeg" class="rounded-circle logo" alt="">
        Toros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item active Blanco">
                <a class="nav-link" href="admin">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/inventario">Inventario</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/credito">Creditos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ventas">Punto de Venta</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item active margen-der-nav">
                <button type="button" class="btn letrasBlancas boton" (click)="CerrarSesion()">Cerrar Sesión</button>
            </li>
        </ul>
    </div>
    
</nav>
