<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">


    <div class="container">

        <div class="titulo">
            <h1 class="margen-titulo">Punto de venta</h1>
        </div>


        <div class="row align-items-center contenedor3 justify-content-around">
            <div class="col input-group mb-6 align-items-center">
                <h5>Buscar</h5>
                <input type="text" class="form-control margen-izq alinear" id="BuscarProducto" aria-label="Buscar"
                    [(ngModel)]="findProduct" name="pipePuntoVenta">
                <a class="btn btn-danger boton-buscar" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Buscar
                </a>
            </div>
            <div class="col-md-auto">
                <h3 class="tb">Cajero</h3>
                <input type="text" readonly="readonly" class="form-control altura-entrada" id="Cajero"
                    aria-label="Cajero">
            </div>
            <div class="col-md-auto">
                <h3 class="tb">Turno</h3>
                <input type="text" readonly="readonly" class="form-control altura-entrada" id="Turno"
                    aria-label="Turno">
            </div>


        </div>
        <div class="collapse container2" id="collapseExample">

            <div class="contenedor1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Folio</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio Venta</th>
                            <th scope="col">Existencia</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos | pipePuntoVenta:findProduct">
                            <th scope="row"> {{producto.Folio}} </th>
                            <td>{{producto.Nombre}}</td>
                            <td> {{producto.Precio}} </td>
                            <td> {{producto.Existencia}} </td>

                            <td>
                                <button type="button" class="btn btn-danger" (click)="obtenerDatoProducto(producto)">
                                    Agregar
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
        <div class="container2">
            <div class="Container">
                <div class="row">
                    <div class="col">
                        <div class="mb-6">

                            <table class="table table-hover anchoTable">
                                <thead>
                                    <tr class="naranja">
                                        <th scope="col"> Folio </th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Precio</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let venta of Productventas">
                                        <th scope="row"> {{venta.Folio}} </th>
                                        <td> {{venta.Nombre}} </td>
                                        <td> {{venta.Precio}}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="eliminarVenta(venta)">
                                                eliminar
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col">
                        <div class="mb-3 btn-group-vertical">
                            <div class="col input-group mb-6 align-items-center">
                                <h4>Total</h4>
                                <input type="text" class="form-control margen-izq" id="Abono" aria-label="Buscar"
                                    [(ngModel)]="TotalCobrar" readonly="readonly">

                                <!--================INICIO DEL MODAL=============================-->
                                <!-- Button trigger modal -->

                                <button type="button" class="btn btn-danger margen" data-bs-toggle="modal"
                                    data-bs-target="#ModalCobrar">
                                    Cobrar
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="ModalCobrar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">COBRAR</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            
                                            <div class="input-group mb-3">
                                                <span class="input-group-text ancho letrasBlancas contenedor"
                                                    name="Nombre">Total</span>
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-default"
                                                    [(ngModel)]="TotalCobrar" readonly="readonly">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text ancho letrasBlancas contenedor"
                                                    name="Ingreso">Recibido</span>
                                                <input type="number" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-default"
                                                    [(ngModel)]="recibido">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text ancho letrasBlancas contenedor"
                                                    name="Direccion">Cambio</span>
                                                <input type="number" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-default"
                                                    [(ngModel)]="cambio">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary"
                                            (click) = "Cobrar()">Cobrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--=====================FINAL DEL MODAL=======================-->
                            <div class="input-group">
                                Buscar Cliente
                                <input type="text" class="form-control" id="BuscarCliente" [(ngModel)]="Busqueda"
                                    name="pipeClientes" aria-label="Buscar">
                                <button type="button" class="btn btn-danger borde-boton" (click)="getClientes()">
                                    Buscar
                                </button>
                            </div>
                        </div>

                        <table class="table table-hover anchoTable">
                            <thead>
                                <tr class="naranja">
                                    <th scope="col"> Nombre </th>

                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientes | pipeClientes:Busqueda">
                                    <th scope="row">{{cliente.Nombre}}</th>

                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="obtenerDatoCliente(cliente)">
                                            Seleccionar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col">
            </div>
               -->
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="AjusteDerecha">
        <button type="button" class="btn buttonSize" data-bs-toggle="modal" data-bs-target="#Reportes">
            Reportes
        </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="Reportes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Reportes</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>
                        Reporte a Generar
                    </h5>
                    <button type="button" class="btn buttonSize">
                        Día
                    </button>
                    <button type="button" class="btn buttonSize">
                        Semana
                    </button>
                    <button type="button" class="btn buttonSize">
                        Mes
                    </button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>



<app-footer-admin></app-footer-admin>