<app-admin-nav></app-admin-nav>


<div class="container">
    <div class="container2">
        <div class="row">
            <div class="col" align="center">
                <h1 class="margen"> Crédito</h1>
            </div>
        </div>
    </div>

    <div class="container2">
        <div class="d-grid gap-1">
            <h3 class="clientes">Clientes</h3>
        </div>
        <table class="table table-hover table-bordered border">
            <thead>
                <tr>
                    <th scope="col">RGI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Historial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td height="17" bgcolor="#638cb5"><input type="submit" name="envio" value="Ver" class="boton2 ancho"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jonda</td>
                    <td height="17" bgcolor="#638cb5"><input type="submit" name="envio" value="Ver" class="boton2 ancho"></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Toño</td>
                    <td height="17" bgcolor="#638cb5"><input type="submit" name="envio" value="Ver" class="boton2 ancho"></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Luz</td>
                    <td height="17" bgcolor="#638cb5"><input type="submit" name="envio" value="Ver" class="boton2 ancho"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container2">
        <div class="row">
            <div class="col-sm-3">
                <div class="col">
                    <div class="input-group mb-3">
                        <h3>Abonar</h3>
                        <input type="text" class="form-control" id="Abono" aria-label="First name">
                    </div>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="col order-1">
                    <button class="btn btn-danger redondo">Abonar</button>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="col order-1">
                    <div class="input-group mb-3">
                        <h3>Total</h3>
                        <input type="text" class="form-control" id="Total" aria-label="First name">
                    </div>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="col order-1">
                    <button class="btn btn-danger redondo separacion">Imprimir</button>
                    <button class="btn btn-danger redondo separacion">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>