<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">
    <div class="container">
        <div class="titulo">
            <h1 class="margen-titulo"> Crédito</h1>
        </div>

        <!--================INICIO DEL MODAL=============================-->
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div #printThis>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header modalColor">
                            <h5 class="modal-title" id="exampleModalLabel">Historial de pagos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <h6 class="titulo2">
                                Jondalar
                            </h6>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>

                                <tr>
                                    <td>01/01/2021</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>01/02/2021</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>01/03/2021</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>01/04/2021</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            <button type="button" class="btn btn-primary" (click)="onPrint()">Imprimir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=====================FINAL DEL MODAL=======================-->

        <div class="row align-items-center contenedor3 justify-content-around">
            <div class="col input-group mb-6 align-items-center">
                <h5>Abono</h5>
                <input type="text" class="form-control margen-izq alinear" id="Abono" aria-label="Buscar">
                <button type="button" class="btn btn-danger margen-izq">Aceptar</button>
            </div>
            <div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
                <h5>Total</h5>
                <input type="text" class="form-control margen-izq alinear" readonly="readonly" [(ngModel)]="forUpdate.Total" id="Total" aria-label="Buscar">
            </div>
            <div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
                <button type="button" class="btn btn-danger btns borde-boton margen-izq"
                    (click)="onPrint()">Imprimir</button>
                <button type="button" class="btn btn-danger btns borde-boton margen-izq"
                    (click)="direccionCliente()">Cancelar</button>
            </div>
        </div>


        <div class="container2">
            <div class="d-grid gap-1">
                <h3 class="clientes">Clientes</h3>
            </div>

            <div #printThis>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">RGI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Historial</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>

                    <tr *ngFor="let credito of creditos">
                        <td>{{credito.RGI}}</td>
                        <td>{{credito.Nombre}}</td>
                        <td>{{credito.Fecha}}</td>
                        <td>{{credito.Concepto}}</td>
                        <td><input type="submit" name="envio" value="Ver" class="boton2 ancho" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"></td>
                        <td><input type="submit" name="envio" value="Selecionar" data-bs-target="#exampleModal" (click)="obtenerDato(credito)"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<app-footer-admin></app-footer-admin>