.contenedor2{
	text-align: center;
	margin: 30px 150px;
	padding: 5px 100px;	
	background-color: rgb(231, 229, 229);
	
	
}
.contenedor1{
	margin: 30px 150px;
	margin-left: 150px;
	padding: 30px 1px;
	background-color: rgb(231, 229, 229);
	
}
.buscador{
position: left;
margin-left: 10px;
padding: 0px;
}
.buscador input{
	margin: -17px 84px;
	position: absolute;
	width:500px;
	height:35px;
	padding:0px 10px;
	font-size:18px;
	outline:none;
	border:none;
	border-radius:30px;
}

p.a{
position: absolute;
margin: -17px 1px;
font-size: 22px;
padding:0px 10px;
font-weight: bold;
}

.btn1 {
	position:absolute;
	
	margin: -16px 650px;
	display: inline-block;
	padding: 3px 30px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;*/
  }

.btn2{
	position:absolute;
	margin: -16px 780px;
	
	display: inline-block;
	padding: 3px 30px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;
	margin: 10px;
	border:none;
	border-radius: 3px;
	font-size: 22px;*/
}
.btn3{
	position:absolute;
	
	margin: -16px 904px;
	display: inline-block;
	padding: 3px 20px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;
	border:none;
	margin: 10px ;
	border-radius: 3px;
	font-size: 22px;*/
}
.contenedor3{
	
    text-align: center;
	margin: 50px 150px;
	background-color: rgb(231, 229, 229);
}
.contenedor{
	background-color:#d9534f !important;
}

.Container{
	margin-left: 100px;
	margin-right: 100px;
}

.container2{
	margin: 15px;
	padding: 5px;
	justify-content: center;
	background-color: rgb(231, 229, 229);
	padding-top: 18px;
	/*width: 600px;*/
}

.altoCard{
	height: 180px;
}

.anchoCard{
	width: 920px;
	background-color: white;
}

.letrasBlancas{
	color: white !important;
}

.CenterButton{
	margin-left: 48% !important; 
	margin-right:auto;
}

.Center{
	text-align:center  !important;
}

.margen{
	margin: 20px;
}

.ancho{
	width: 140px !important;
}

.redondo{
	border-radius: 15px !important;
}

.separacion{
	margin-right: 100px;
}

.transparente{
	opacity: .93;
}

.altoBotones{
	height: 50px;
}

.modal-header{
	background: rgb(231, 229, 229);
	text-align:center;
}
.modal-body{
	text-align: center;
	margin: 15px;
}