<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">


    <div class="container">

        <div class="titulo">
            <h1 class="margen-titulo">Lista de productos</h1>
        </div>


        <div class="row align-items-center contenedor3 justify-content-around">
            <div class="col input-group mb-6 align-items-center">
                <h5>Buscar</h5>
                <input type="text" class="form-control margen-izq alinear" [(ngModel)]="Busqueda" id="Abono"
                    aria-label="Buscar" name="pipeInventario">

            </div>
            <div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
                <button type="button" class="btn btn-danger btns borde-boton" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Nuevo producto</button>
                <button type="button" class="btn btn-danger btns borde-boton margen-izq">Editar</button>
                <button type="button" class="btn btn-danger btns borde-boton margen-izq">Eliminar</button>
            </div>
        </div>

        <!-- Modal -->
        <form (ngSubmit)="nuevoProducto(inventarioForm.value)" [formGroup]="inventarioForm">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header modalColor">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="titulo2">Datos del producto</h6>

                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="folio">Folio</span>
                                <input type="text" formControlName="Folio" class="form-control" placeholder="folio" [(ngModel)]="folioMayorString"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                    readonly="readonly">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Nombre">Nombre</span>
                                <input type="text" formControlName="Nombre" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Nombre">Costo</span>
                                <input type="text"formControlName="Costo" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Ingreso">Precio de
                                    venta</span>
                                <input type="text" formControlName="Precio" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Direccion">Exitencia</span>
                                <input type="text" formControlName="Existencia" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="contenedor1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Precio Venta</th>
                        <th scope="col">Existencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of productos ">
                        <th scope="row">1</th>
                        <td>{{cliente.Nombre}}</td>
                        <td>600</td>
                        <td>900</td>
                        <td>3</td>
                        <td>

                        </td>
                    </tr>
                  

                </tbody>
            </table>
        </div>





    </div>
</div>








<app-footer-admin></app-footer-admin>