<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">


    <div class="container">

        <div class="titulo">
            <h1 class="margen-titulo">Lista de productos</h1>
        </div>


        <div class="row align-items-center contenedor3 justify-content-around">

            <div class="col input-group mb-6 align-items-center">
                <h5>Buscar</h5>
                <input type="text" class="form-control margen-izq alinear" [(ngModel)]="Busqueda" name="pipeInventario"
                    id="Abono" id="Abono" aria-label="Buscar">
            </div>

            <div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
                <button type="button" class="btn btn-danger btns borde-boton" data-bs-toggle="modal"
                    data-bs-target="#exampleModalAÑADIR">Nuevo producto</button>
            </div>

        </div>

        <!--=========================== Modal Nuevo Producto==================================0-->
        <form (ngSubmit)="nuevoProducto(inventarioForm.value)" [formGroup]="inventarioForm">
            <div class="modal fade" id="exampleModalAÑADIR" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header modalColor">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <h6 class="titulo2">Datos del producto</h6>

                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Folio">Folio</span>
                                <input type="text" [(ngModel)]="folioInventario" formControlName="Folio"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" readonly="readonly">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Nombre">Nombre</span>
                                <input type="text" formControlName="Nombre" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <div
                                    *ngIf="inventarioForm.controls.Nombre.errors && inventarioForm.controls.Nombre.touched">
                                    <div *ngIf="inventarioForm.controls.Nombre.errors.required"
                                        class="alert alert-danger">
                                        El campo es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Nombre">Costo</span>
                                <input type="number" formControlName="Costo" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <div
                                    *ngIf="inventarioForm.controls.Costo.errors && inventarioForm.controls.Costo.touched">
                                    <div *ngIf="inventarioForm.controls.Costo.errors.required"
                                        class="alert alert-danger">
                                        El campo es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Ingreso">Precio de
                                    venta</span>
                                <input type="number" formControlName="Precio" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <div
                                    *ngIf="inventarioForm.controls.Precio.errors && inventarioForm.controls.Precio.touched">
                                    <div *ngIf="inventarioForm.controls.Precio.errors.required"
                                        class="alert alert-danger">
                                        El campo es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Direccion">Existencia</span>
                                <input type="number" formControlName="Existencia" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <div
                                    *ngIf="inventarioForm.controls.Existencia.errors && inventarioForm.controls.Existencia.touched">
                                    <div *ngIf="inventarioForm.controls.Existencia.errors.required"
                                        class="alert alert-danger">
                                        El campo es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary"
                                [disabled]="!inventarioForm.valid">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!--            FIN DEL MODAL NUEVO PRODUCTO               -->

        <div class="contenedor1">
            <div class="opaco scroll">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Folio</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Precio Venta</th>
                            <th scope="col">Existencia</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of productos  | pipeInventario:Busqueda">
                            <th scope="row">{{cliente.Folio}}</th>
                            <td>{{cliente.Nombre}}</td>
                            <td>$ {{cliente.Costo}}</td>
                            <td>$ {{cliente.Precio}}</td>
                            <td>{{cliente.Existencia}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btnT" data-bs-toggle="modal"
                                    (click)="obtenerDato(cliente)" data-bs-target="#exampleModalEDITAR">Editar</button>

                                <button type="button" class="btn btn-danger btnT"
                                    (click)="deleteProducto(cliente._id)">Eliminar</button>
                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!---------  Modal Editar Producto  ---------->
        <form (ngSubmit)="actualizarProducto(inventarioFormActualizar.value)" [formGroup]="inventarioFormActualizar">
            <div class="modal fade" id="exampleModalEDITAR" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header modalColor">
                            <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <h6 class="titulo2">Datos del producto</h6>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="folio">Folio</span>
                                <input type="text" [(ngModel)]="forUpdate.Folio" formControlName="Folio"
                                    class="form-control" placeholder="folio" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" readonly="readonly">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Nombre">Nombre</span>
                                <input type="text" [(ngModel)]="forUpdate.Nombre" formControlName="Nombre"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Nombre">Costo</span>
                                <input type="number" [(ngModel)]="forUpdate.Costo" formControlName="Costo"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor" name="Ingreso">Precio de
                                    venta</span>
                                <input type="number" [(ngModel)]="forUpdate.Precio" formControlName="Precio"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text ancho letrasBlancas contenedor"
                                    name="Direccion">Exitencia</span>
                                <input type="number" [(ngModel)]="forUpdate.Existencia" formControlName="Existencia"
                                    class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal"
                                (click)="limpiarCampos()">Cancelar</button>
                            <button type="submit" class="btn btn-primary"
                                [disabled]="!inventarioFormActualizar.valid">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!--            FIN DEL MODAL EDITAR PRODUCTO               -->
    </div>

</div>

<app-footer-admin></app-footer-admin>