
body{
	min-height: 80vh; 
  }

.contenedor2{
	text-align: center;
	margin: 30px 150px;
	padding: 5px 100px;	
	background-color: rgb(231, 229, 229);
	
	
}

.contenedor1{
	margin: 30px;

	padding: 5px ;
	justify-content: center;
	background-color: rgb(231, 229, 229);	
}

.buscador{
position: left;
margin-left: 10px;
padding: 0px;
}
.buscador input{
	margin: -17px 84px;
	position: absolute;
	width:300px;
	height:35px;
	padding:0px 10px;
	font-size:18px;
	border: 2px solid #b6b6b6;
	outline: none;
	box-shadow: none;
}

p.a{
position: absolute;
margin: -17px 1px;
font-size: 22px;
padding:0px 10px;
font-weight: bold;
}

.btn1 {
	position:absolute;
	
	margin: -19px 460px;
	display: inline-block;
	padding: 3px 30px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;*/
  }

.btn2{
	position:absolute;
	margin: -19px 600px;
	
	display: inline-block;
	padding: 3px 30px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;
	margin: 10px;
	border:none;
	border-radius: 3px;
	font-size: 22px;*/
}
.btn3{
	position:absolute;
	
	margin: -19px 732px;
	display: inline-block;
	padding: 3px 20px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 3px #999;
	border:none;
	margin: 10px ;
	border-radius: 3px;
	font-size: 22px;*/
}

.contenedor2{
	margin: 30px;
	background-color: rgb(231, 229, 229);
}

h1.a{
	margin-left: 10px;
	font-size:25px;
}
#Buscar{

 margin-left: 10px;

}
table {
	width: 100%;
	height: 150px;
	
	text-align: center;
}

.redondo{
	border-radius: 10px !important;
}

.separacion{
	margin-right: 10px;
}

.col-sm-6{
	padding-top: 15px;
	
}
.col-sm-3{
	padding-top: 15px;
	
}
.btn{
 	margin:55px;
}

/*ventana flotante*/

.contenedores{
	background-color:#d9534f !important;
}

.Container{
	margin-left: 100px;
	margin-right: 100px;
}

.letrasBlancas{
	color: white !important;
}

.ancho{
	width: 140px !important;
}

.transparente{
	opacity: .93;
}

.altoBotones{
	height: 50px;
}

.modal-header{
	background: rgb(231, 229, 229);
	text-align:center;
}
.modal-body{
	text-align: center;
	margin: 15px;
}

.titulo{
	margin: 15px;
	padding: 5px;
	justify-content: center;
	background-color: rgb(231, 229, 229);
    text-align: center;
	border-radius: 5px;
}
.margen-titulo{
	margin: 3px;
}

.fondo-degradado{
	background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
}
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 0px;
  }
