<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">
	<div class="container">
		<div class="titulo">
			<h1 class="margen-titulo">Usuarios</h1>
		</div>



		<div class="row align-items-center contenedor justify-content-around">
			<div class="col input-group mb-6 align-items-center">
				<h5>Buscar</h5>
				<input type="text" class="form-control margen-izq alinear" id="Abono" aria-label="Buscar">
				<Button type="submit" class="btn btn-danger">Buscar</Button>
			</div>
			<div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
				<button type="button" class="btn btn-danger borde-boton">Nuevo cliente</button>
				<button type="button" class="btn btn-danger borde-boton margen-izq">Guardar</button>
				<button type="button" class="btn btn-danger borde-boton margen-izq">Crédito</button>
				<button type="button" class="btn btn-danger borde-boton margen-izq">Eliminar</button>
			</div>
		</div>
	</div>
</div>

<app-footer-admin></app-footer-admin>