

.titulo{
	margin: 15px;
	padding: 5px;
	justify-content: center;
	background-color: #FAFAFA;
    text-align: center;
	border-radius: 5px;
}
.margen-titulo{
	margin: 3px;
}

.fondo-degradado{
	background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 0px;
  }

.contenedor{
	background-color: #FAFAFA;
	justify-content: center;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin: 15px;
}

.botones{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn{
 padding: 10px;
}

.margen-izq{
	margin-left: 8px !important;
}

.borde-boton{
	border-radius: 15px !important;
	font-size: 15px;
}

.alinear{
	height: 48px;
}