.contenedor{
	background-color: rgb(243, 45, 10) !important;
}

.altoCard{
	height: 180px;
}

.anchoCard{
	width: 920px;
	background-color: white;
}

.letrasBlancas{
	color: white !important;
}

.CenterButton{
	margin-left: 48% !important; 
	margin-right:auto;
}

.Center{
	text-align:center  !important;
}

.margen{
	margin: 20px;
}

.ancho{
	width: 150px;
}

.redondo{
	border-radius: 50% !important;
}

.separacion{
	margin-right: 20px;
}

.transparente{
	opacity: .93;
}
