<app-admin-nav></app-admin-nav>

<div class="fondo-degradado wrapper">
	<div class="container">
		<div class="titulo">
			<h1 class="margen-titulo"> Clientes</h1>
		</div>
		<!--================INICIO DEL MODAL=============================-->


		<!-- Modal -->
		<form (ngSubmit)="nuevoCliente(clienteForm.value)" [formGroup]="clienteForm">
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header modalColor">
							<h5 class="modal-title" id="exampleModalLabel">Añadir cliente</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>



						<div class="modal-body ">
							<h6 class="titulo2">
								Datos del cliente
							</h6>

							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" name="RGI">RGI</span>
								<input type="text" formControlName="RGI" class="form-control"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									name="Nombre">Nombre</span>
								<input type="text" class="form-control" formControlName="Nombre"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" name="Ingreso">Fecha de
									Ingreso</span>
								<input type="text" class="form-control" formControlName="FechaIngreso"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									name="Direccion">Dirección</span>
								<input type="text" class="form-control" formControlName="Direccion"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									name="Telefono">Teléfono</span>
								<input type="text" class="form-control" formControlName="Telefono"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" name="Edad">Edad</span>
								<input type="text" class="form-control" formControlName="Edad"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									name="Horario">Horario</span>
								<input type="text" class="form-control" formControlName="Horario"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" name="Clase">Clase</span>
								<input type="text" class="form-control" formControlName="Clase"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="form-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									name="Mensualidad">Mensualidad</span>
								<input type="text" class="form-control" formControlName="Mensualidad"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>

					</div>
				</div>
			</div>
		</form>

		<!--=====================FINAL DEL MODAL=======================-->


		<div class="row align-items-center contenedor3 justify-content-around">
			<div class="col input-group mb-6 align-items-center">
				<h5>Buscar</h5>
				<input type="text" class="form-control margen-izq alinear" id="Abono" aria-label="Buscar">
				<Button type="submit" class="btn btn-danger boton-buscar">Buscar</Button>
			</div>
			<div class="col btn-group btn-group-toggle mb-6 botones align-items-center" data-toggle="buttons">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger btns borde-boton" data-bs-toggle="modal"
					data-bs-target="#exampleModal">Nuevo cliente</button>
				<!--=========-->
				<button onClick={this.actualizarCliente} type="button" class="btn btn-danger btns borde-boton margen-izq">Guardar</button>
				<button type="button" class="btn btn-danger btns borde-boton margen-izq"
					(click)="direccionCredito()">Crédito</button>
				<button type="button" class="btn btn-danger btns borde-boton margen-izq">Eliminar</button>
			</div>
		</div>


		<div class="card mb-12 transparente margen ">
			<div class="row g-0 opaco">
				<div class="col-md-6 row">
					<div class="container2 opaco scroll">

						<table class="table table-hover ">
							<thead>
								<tr>
									<th scope="col">RGI</th>
									<th scope="col">Nombre</th>
								</tr>
							</thead>
							<tbody class="">
								<tr *ngFor="let cliente of clientes">
									<th>{{cliente.RGI}}</th>
									<td>{{cliente.Nombre}}</td>
								</tr>
						</table>

					</div>
				</div>

				<div class="col-md-6">

					<form (ngSubmit)="actualizarCliente(clienteFormActualizar.value)"
						[formGroup]="clienteFormActualizar">

						<div class="contenedor opaco margen">
							<p class="Center letrasBlancas">Detalles de clientes</p>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="Folio">Folio</span>
								<input type="text" class="form-control" formControlName="Folio"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="RGI">RGI</span>
								<input type="text" class="form-control" formControlName="RGI"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="Nombre">Nombre</span>
								<input type="text" class="form-control" formControlName="Nombre"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="Ingreso">Fecha de
									Ingreso</span>
								<input type="text" class="form-control" formControlName="FechaIngreso"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									id="Direccion">Dirección</span>
								<input type="text" class="form-control" formControlName="Direccion"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									id="Telefono">Teléfono</span>
								<input type="text" class="form-control" formControlName="Telefono"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="Edad">Edad</span>
								<input type="text" class="form-control" formControlName="Telefono"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									id="Horario">Horario</span>
								<input type="text" class="form-control" formControlName="Horario"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor" id="Clase">Clase</span>
								<input type="text" class="form-control" formControlName="Clase"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text ancho letrasBlancas contenedor"
									id="Mensualidad">Mensualidad</span>
								<input type="text" class="form-control" formControlName="Mensualidad"
									aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
							</div>
							<div>
								<button type="submit" class="btn btn-primary  margen-izq">Guardar</button>
							</div>
						</div>
					</form>

					<!--=======================FINAL DE LAS TABLAS===============================-->

				</div>

			</div>
		</div>
	</div>
</div>


<!--
<body background="assets/img/FondoClientes.jpg">
</body>
-->
<app-footer-admin></app-footer-admin>